*{
    margin:0;
    padding: 0;
   
}

body, #root{
    background-color: pink;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10vw;
    margin-left: 20px;
}
.navLink{
    text-decoration: none;
    color:yellow;
}
.navLink:hover{
    color:black;
    transition: 0.4s;
}

.navItem{
    display:inline;
    margin: 0 20px;
    font-size: 22px;
}
.material-icons{
    text-decoration: none;
    color: yellow;
}

.sectionTitle{
    display: flex;
    justify-content: space-around;
    margin-top:10px;
}

.cardsContainer{
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 25%;
    border: 2px solid black;   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.cardImg{
    width:100%;
    margin:5px;
}
.cardTitle{
    margin:5px;
}
.cardForm{
    margin: 5px;
}
.cardFormBtn, .cardFormText{
    display: inline;
}

.detailContainer{
    margin:10px;
    width:33%;
    border: 2px dashed yellow;
}
.detailTitle{
    font-size: 24px;
}